.ocultarFormulario {
    display: none;
}

ion-datetime {
    --color: var(--ion-color-primary);
    /* Color del texto */
    --background: var(--ion-color-light);
    /* Fondo */
}

.recorrido-container {
    margin-top: 16px;
    text-align: center;

    ion-label {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        color: var(--ion-color-medium);
    }

    ion-button {
        width: 100%;
    }
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: 1px solid #ccc;
    max-width: 100%;
    /* Para evitar overflow en pantallas pequeñas */
}